requirements.txt filter=lfs diff=lfs merge=lfs -text
data/train_data.csv filter=lfs diff=lfs merge=lfs -text
data/WELFake_Dataset.csv filter=lfs diff=lfs merge=lfs -text
models/lstm/best_lstm_model.keras filter=lfs diff=lfs merge=lfs -text
models/rnn/best_rnn_model.keras filter=lfs diff=lfs merge=lfs -text
